/* Universal Styles */

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

/* Added this to make divs sizes relative to viewport */

html, body {
	height: 100%;
	color: #4F4F4F;
}


/* Desktop warning */

.desktop-only {
	width: 100%;
	height: 100%;
	background-color: #1F3B34;
	text-align: center;

}

.desktop-only h1 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 400;
	color: white;
}


/* Product container */

.mobile-only {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

/* Image */

.product-image {
	display: flex;
	justify-content: center;
	margin-top: -8rem;
}

img {
	max-width: 90%;
	align-self: center;
}

/* Product Information */

.product-info {
	margin-top: 5rem;
	text-align: center;
}

.product-info h2 {
	font-weight: 100;
	font-size: 5rem;
	margin-top: 1.5rem;
}


/* Form */

.payment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment-form-input {
    display: inline-block;
    height: 2rem;
    padding-top: 2rem;
}

input {
    background: none;
    border: none;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    padding: 0.25rem 0.1rem;
	width: 100%;
}

input:invalid {
    box-shadow: none;
}

input:focus {
	outline: none;
}

label {
	display: inline-block;
	pointer-events: none;
	position: relative;
	width: 100%;
}

label::before {
	content: attr(data-content);
	position: relative;
	transition: all 0.2s ease;
	will-change: font-size, top;
}

label::after {
	bottom: 0.9rem;
	content: '';
	height: 0.3rem;
	left: 50%;
	position: absolute;
	transition: all 0.2s ease;
	width: 0;
	will-change: width, left;
}

label::before input:focus ~ label::before {
	font-size: 0.75rem;
	top: -3.25rem;
}

input:focus ~ label::after {
	left: 0%;
	width: 100%;
}

input:invalid ~ label::before {
	font-size: 1rem;
	top: -2rem;
}




/* Button */

.main-cta {
	background-color: #1F3B34;
	height: 4rem;
	border: 0;
	font-size: 1.5rem;
	font-weight: 400;
	color: white;

}

/* Desktop warning display */

@media only screen and (min-width: 640px) {
	.desktop-only {
		display:block !important;
	}

	.mobile-only {
		display:none !important;
	}

}

@media only screen and (max-width: 640px) {
	.desktop-only {
		display:none !important;
	}

	.mobile-only {
		display:flex !important;
	}

}